<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TE AMO</title>
    <link rel="stylesheet" href="/static/css/styles.css">
<style>

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fef3f3;
    color: #333;
}

header {
    margin-top: 20px;
}



a {
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    color: #ff6666;
    font-weight: bold;
}



</style>

</head>

<body>
    <header>
        <h1>Mi vida.</h1>
    </header>
    <main>
        <p>Cancioncita para ti.</p>
        <audio controls autoplay>
            <source src="/static/music/micancion.mp3" type="audio/mp3">
        </audio>
        
    </main>







    <a href="/carta">Siguiente</a>

</body>

</html>
