<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carta Especial</title>
    <link rel="stylesheet" href="/static/css/styles.css">


    
    <style>

        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #fef3f3;
            color: #333;
        }
        
        header {
            margin-top: 20px;
        }
        
        
        a {
            display: inline-block;
            margin-top: 20px;
            text-decoration: none;
            color: #ff6666;
            font-weight: bold;
        }


</style>

</head>
<body>
    <header>
        <h1>Mi Carta para Ti</h1>
    </header>
    <main>
        <p>Querido amor, quiero que sepas lo mucho que significas para mí...</p>
        <a href="/galeria">Siguiente</a>
    </main>
</body>
</html>
