<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pequeños Detalles</title>
    <link rel="stylesheet" href="/static/css/styles.css">

<style>

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    color: #444;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-top: 20px;
    color: #fc799a;
}

.detail {
    background-color: #ffffff;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #f56ea2;
    font-size: 1.2rem;
}


</style>

</head>
<body>
    <header>
        <h1>Pequeños Detalles que Amo de Ti</h1>
    </header>
    <main>
        <div class="detail">
            <h3>Tu sonrisa</h3>
            <p>Es la que ilumina mis días, siempre me hace sentir mejor.</p>
        </div>
        <div class="detail">
            <h3>La forma en que hablas de tus sueños</h3>
            <p>Me hace sentir afortunado de estar contigo, apoyándote en todo momento.</p>
        </div>
        <div class="detail">
            <h3>Cómo siempre sabes qué decir</h3>
            <p>Siempre encuentras la forma de animarme y hacerme sonreír en los momentos más difíciles.</p>
        </div>
    </main>
    <a href="/adivina">Siguiente</a>
</body>
</html>

