<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestra Historia</title>
    <link rel="stylesheet" href="/static/css/styles.css">


<style>

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.event {
    text-align: center;
    border-bottom: 2px solid #ffcccc;
    padding-bottom: 10px;
    width: 80%;
}

.event img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}



</style>



</head>
<body>
    <header>
        <h1>Nuestra Historia</h1>
    </header>
    <main class="timeline">
        <div class="event">
            <h2>INICIO</h2>
            <p>Fecha: 21 de mayo del 2023</p>
            <img src="/static/img/aa.jpeg" alt="inicio">
        </div>
        <div class="event">
            <h2>Una de nuestras salidas</h2>
            <p>Fecha: pendiente</p>
            <img src="/static/img/amor.jpeg" alt="no">
        </div>
        <div class="event">
            <h2>Hallowen</h2>
            <p>Fecha: 31 de octubre del 2023</p>
            <img src="/static/img/amormio.jpeg" alt="hallowen">
        </div>

        <div class="event">
            <h2>Navidad</h2>
            <p>Fecha: 24 de diciembre del 2023</p>
            <img src="/static/img/amorr.jpeg" alt="Navidad">
        </div>

        <div class="event">
            <h2>San Valentin</h2>
            <p>Fecha: 14 de febrero de 2024</p>
            <img src="/static/img/amorrr.jpeg" alt="san valentin">
        </div>

        <div class="event">
            <h2>Primer Aniversario</h2>
            <p>Fecha: 21 de mayo del 2024</p>
            <img src="/static/img/amor.jpeg" alt="Aniversario">
        </div>

        <div class="event">
            <h2>Fotito actual</h2>
            <p>Fecha: actual</p>
            <img src="/static/img/amorr.jpeg" alt="actual">
        </div>

       



    </main>
    <a href="/mapa">Siguiente</a>
</body>
</html>
