<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Nuestro Amor</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header>
        <h1>Mapa de Nuestro Amor</h1>
        <p>Lugar que cuenta nuestra historia ❤️</p>
    </header>
    <main>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3731.12143458906!2d-103.38056739999999!3d20.745871599999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8428aff2bdb53985%3A0x2c76a8d90871fad6!2sLa%20Grana%20430-1%2C%20San%20Jos%C3%A9%20del%20Baj%C3%ADo%2C%2045132%20Zapopan%2C%20Jal.!5e0!3m2!1ses!2smx!4v1733020711278!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </main>
    <a href="/deseos">Siguiente</a>
</body>
</html>
