<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tus Superpoderes</title>
    <link rel="stylesheet" href="/static/css/styles.css">

<style>

body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fa;
    color: #333;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    margin-top: 20px;
    color: #ff014d;
}

.superpowers {
    list-style-type: none;
    padding: 0;
}

.superpower {
    background-color: #fab3d6;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}

.superpower:hover {
    background-color: #ffc3d2;
}


</style>


</head>
<body>
    <header>
        <h1>Tus Superpoderes</h1>
    </header>
    <main>
        <ul class="superpowers">
            <li class="superpower">Eres increíblemente amable.</li>
            <li class="superpower">Tienes la mejor habilidad para abrazar.</li>
            <li class="superpower">Sabes cómo calmarme cuando estoy nervioso.</li>
        </ul>
    </main>
    <a href="/final">Siguiente</a>
</body>
</html>
